@page "/teacherCourses"
@using BootstrapBlazor.Components
@using CourseSystem.Server.Models
@using CourseSystem.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@if(isLoading)
{
    <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <Spinner Class="ms-auto"></Spinner>
    </div>
}
else
{
    <div class="qanCard showAnim tableCard">
    <Table TItem="CourseInfoData" Items="@courseInfoData" IsBordered="true" ShowSearch="true" ShowEditButton="false" OnQueryAsync="@OnQueryAsync"
    SearchModel="@SearchModel" ShowDeleteButton="false" ShowExtendButtons="true" ShowToolbar="true" ShowDefaultButtons="false" ShowLoading="true" 
    IsAutoRefresh="true" AutoRefreshInterval="1000" IsPagination="true" PageItemsSource="@PageItemsSource">
        <TableColumns>
            <TableColumn @bind-Field="@context.CourseName" Text="课程名称" Searchable="true" />
            <TableColumn @bind-Field="@context.Type" Text="类型" Searchable="true"/>
            <TableColumn @bind-Field="@context.Major" Text="授课专业" Searchable="true"/>
            <TableColumn @bind-Field="@context.Score" Text="学分" Searchable="true"/>
            <TableColumn @bind-Field="@context.Time" Text="时间" Searchable="true">
                 <Template Context="value">
                    @if (value.Value == null || value.Value.Replace(" ", "") == "")
                    {
                        <div>无上课时间</div>
                    }
                    else
                    {
                        <div>@("星期"+week[int.Parse(value.Value.Split('-')[0])-1]+' '+value.Value.Split('-')[1]+"节")</div>
                    }
                </Template>
             </TableColumn>
            <TableColumn @bind-Field="@context.Students" Text="选课人数" Searchable="true">
                <Template Context="value">
                    @if (value.Value == null || value.Value.Replace(" ", "") == "")
                    {
                        <div>0</div>
                    }
                    else
                    {
                        <div>@value.Value.Replace(" ", "").Split(',').Length</div>
                    }
                </Template>
             </TableColumn>
             <TableColumn @bind-Field="@context.MaxStuNum" Text="最大选课人数" Searchable="false"/>
        </TableColumns>
        <RowButtonTemplate>
            <TableCellButton   Size="Size.ExtraSmall" Color="Color.Success" Icon="fa fa-edit" Text="学生信息" OnClickCallback="@(() => OnRowButtonClick(context))" />
        </RowButtonTemplate>
    </Table>
    </div>
     <Drawer Width="600px" Placement="Placement.Right" @bind-IsOpen="@IsBackdropOpen" IsBackdrop="true">
         <div  style="padding:10px">
            <Table TItem="StudentInfoModel" Items="@studentInfoData" IsBordered="true" ShowSearch="true" ShowEditButton="false" OnQueryAsync="@OnQueryAsyncStu"
            SearchModel="@StuSearchModel" ShowDeleteButton="false" ShowToolbar="true" ShowDefaultButtons="false" ShowLoading="true" 
            IsAutoRefresh="true" AutoRefreshInterval="500">
                <TableColumns>
                    <TableColumn @bind-Field="@context.Id" Text="学号" />
                    <TableColumn @bind-Field="@context.Name" Text="姓名" Searchable="true"/>
                    <TableColumn @bind-Field="@context.Grade" Text="年级" Searchable="true"/>
                    <TableColumn @bind-Field="@context.College" Text="学院" Searchable="true"/>
                    <TableColumn @bind-Field="@context.Major" Text="专业" Searchable="true"/>
                    <TableColumn @bind-Field="@context.Class" Text="班级" Searchable="true"/>
                </TableColumns>
            </Table>
          </div>
    </Drawer>
    <Toast />
}
